:root {
  --base-bg: #FFFFFF;
  --base-border: solid 1px #E8F1FB;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./font/ProximaNova-Regular.woff2') format('woff2'),
  url('./font/ProximaNova-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

body{
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  line-height: 12px;
}
.block{
  width: 400px;
  height: 590px;
  background: var(--base-bg);
  border: var(--base-border);
}
.block__header{
  padding: 21px 29px 18px 29px;
  border-bottom: var(--base-border);
  .block__title{
    font-size: 20px;
    line-height: 20px;
    color: #1A2533;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: bold;
  }
}
.block__body{
  padding: 20px;
  height: calc(100% - 80px);
  box-sizing: border-box;
}
.block_position_center{
  margin: auto;
}
.block__text{
  padding: 4px 0;
}
.block__text_info{
  color: #324964;
}
.block__text_center{
  text-align: center;
}
.block__text_clickable{
  cursor: pointer;
  color: #4991E5;
  display: block;
}
.block__text_secondary{
  color: #6B85A3;
}
.block__text_error{
  color: red;
  height: 20px;
}
.block_hidden{
  display: none;
}
.block_relative{
  position: relative;
}
.block_absolute{
  position: absolute;
}
.upload{
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px dashed transparent;
  .upload__content{
    .upload__file-block{
      width: 78px;
      height: 78px;
      max-height: 80px;
      border-radius: 100%;
      display: flex;
      border: 1px solid #D1E3F8;
      background: var(--base-bg);
      margin-bottom: 10px;
      .upload__file-preview{
        margin: auto;
      }
      .upload__image{
        max-height: 50px;
        max-width: 50px;
        margin: auto;
      }
    }
  }
}
.upload_highlight{
  background: #F5F9FF;
  border: 1px dashed #4991E5;
}

.progress__border{
  width: 80px;
  height: 80px;
  max-height: 80px;
  border-radius: 100%;
  background: #D1E3F8;
  margin-bottom: 10px;
  overflow: hidden;
}
.progress__content {
  width: 78px;
  height: 78px;
  margin: 1px;
  border-radius: 50%;
  background: var(--base-bg);
  display: flex;
}
.progress__bar {
  height: 80px;
  width: 160px;
  background: #4991E5;
  position: absolute;
  top: -80px;
  left: -40px;
  transform-origin: 80px 80px;
  transition: all .1s;
}

